@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --brand-primary: #121214; 
    --brand-secondary: #202024;
    --white: #FFF;
    --shadow: 0px 5px 15px rgba(0, 0, 0, .7);
    --border-radius: 10px;
    --font-size-large: 80px;
    --font-size-medium: 30px;
    --font-size-small: 17px;
    --font-weight-bold: bolder;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--brand-primary);
    color: var(--white);
}

/* Botão de Tema */

.light-theme {
    --brand-primary: #ffffff; 
    --brand-secondary: #f0f0f0;
    --white: #000000;
}

.theme-switch-wrapper {
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input { 
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #000000;
    transition: .4s;
    border-radius: 50%;
}

.slider:before, .light-theme {
    background-color: #ffffff;
}

input:checked + .slider {
    background-color: #121214;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Title */

.title, #data {
    display: flex;
    justify-content: center;
    font-weight: var(--font-weight-bold);
    position: fixed;
}

.title {
    font-size: var(--font-size-medium);
    top: 15%;
}

/* Relogio */

.relogiodigital {
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border-radius: var(--border-radius);
}

.relogiodigital div, #data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--brand-secondary);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    letter-spacing: 5px;
}

.relogiodigital div {
    height: 270px;
    width: 240px;
}

.relogiodigital span {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
}

.relogiodigital span.horario {
    font-size: var(--font-size-small);
}

/* Data */

#data {
    padding: 20px;
    font-size: var(--font-size-medium);
    width: 30%;
    min-width: 785px;
    top: 80%;
}

/* Responsividade */

@media (max-width: 780px) {
    .title {
        font-size: 20px;
        top: 25%;
    }

    .relogiodigital div {
        height: 160px;
        width: 150px;
    }

    .relogiodigital span {
        font-size: 60px;
    }
    
    .relogiodigital span.horario {
        font-size: 10px;
    }

    #data {
        width: 80%;
        min-width: 90%;
        top: 70%;
        font-size: var(--font-size-small);
    }
}
