@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --brand-primary: #121214; 
    --brand-secondary: #202024;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--brand-primary);
}

.title {
    font-size: 30px;
    color: var(--white);
    display: flex;
    justify-content: center;
    font-weight: bolder;
    position: fixed;
    top: 15%;
    right:auto;
}

.relogiodigital {
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border-radius: 5px;
}

.relogiodigital div {
    height: 270px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: var(--brand-secondary);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 10px;
    letter-spacing: 5px;
}

.relogiodigital span {
    font-weight: bolder;
    font-size: 80px;
}

.relogiodigital span.horario {
    font-size: 15px;
}

#data {
    padding: 20px;
    font-size: 30px;
    color: var(--white);
    background: var(--brand-secondary);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    width: 30%;
    min-width: 800px;
    font-weight: bolder;
    position: fixed;
    top: 75%;
    right:auto;
}

@media (max-width: 780px) {
    .title {
        font-size: 20px;
        top: 25%;
    }

    .relogiodigital div {
        height: 160px;
        width: 150px;
    }

    .relogiodigital span {
        font-weight: bolder;
        font-size: 60px;
    }
    
    .relogiodigital span.horario {
        font-size: 10px;
    }

    #data {
        width: 10%;
        min-width: 90%;
        position: fixed;
        top: 65%;
        right:auto;
    }
 }